body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

article,
aside {
  overflow-y: auto;
}


aside {
  flex: 1;
}
.logo {
  font-size: 30px;
  padding-right: 10px;
}
